body{
    background-image:url("pinkdustBackground.png");
    color:rgb(66, 138, 201);
    font-family: 'Lora', serif;
    text-align:center;
}
.display-4{
    background-color: rgb(155, 126, 85);
    border-style: solid
}
h1{
    color:lightblue;
    text-align: center;
    margin:50px;
    margin-bottom: 20px

}
.jumbotron{
    background-color: rgb(135, 25, 238);
    color: rgb(0, 183, 255);
    margin:20px;
    padding:10px;
    text-align: justify;
}
h2{
    font-size: 28px;
    padding-bottom: 15px
    
}

ul{
    font-size: 20px;
}
li{
    list-style-type: disc;
    list-style-position: outside;

}

#garfield1{
    height: 200px;
    width: 200px;
}
#blue2{
    height: 200px;
    width: 200px;
}
#catdog3{
    height: 200px;
    width: 200px;
}
#scoobydoo4{
    height: 200px;
    width: 200px;
}